.App {
  text-align: center;
}

.header {
  background-color: black;
  color: white;
  text-align: left;
  padding: 10px 100px 5px;
}

.heading {
  font-size: 23px;
  font-weight: bold;
}

@media screen and (max-width: 430px) {
  .header {
    padding: 10px 45px 5px;
 }
 .heading {
     font-size: 17px;
 }
}
